.landing-main
  height: 100vh
  background: url(https://unsplash.it/1200/700) no-repeat
  background-size: cover
  color: white
  position: relative

  .intro-blurb
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    p
      font-size: 1.6em
    h1
      font-weight: bold
    
    a
      display: inline-block

      .circled-icon
        width: 35px
        height: 35px
        line-height: 35px
        border: 1px solid white
        border-radius: 50%
        float: left
        color: white
        margin-right: 5px

      .main-video-link
        line-height: 35px
        color: white
        font-size: 1.3em
        white-space: nowrap
        display: inline-block


  .start-chat
    background-color: #ef5251
    color: white
    position: fixed
    bottom: 4%
    right: 4%
    border: none
    width: 60px
    height: 60px
    padding: 5px
    border-radius: 50%
    font-size: 2em
    z-index: 100


//abstract section

.abstract
  padding: 40px 0px

  &>p
    font-size: 1.3em
  h3
    margin-bottom: 15px
    font-size: 2em
  
  img
    margin-bottom: 25px

  .service-card h4 
    margin: 0px auto 10px auto
    font-weight: 700
    font-size: 1.3em

  .service-card p
    max-width: 250px
    margin: auto

//SERVICES SECTION
.services
  padding: 40px 25px
  background: linear-gradient(to bottom, rgb(203, 203, 203) 0%, rgb(203, 203, 203) 50%, rgb(88, 88, 88) 51%, rgb(88, 88, 88) 100%)

  & > h2
    margin-bottom: 15px
  & > p
    margin: 0px auto 15px
    font-size: 1.3em
    padding: 15px
    max-width: 800px


  .row 
    display: flex
    flex-wrap: wrap
    .row > [class*='col-'] 
      display: flex
      flex-direction: column

  .services-card-wrapper
    max-width: 860px
    margin: 0px auto 10px
    box-shadow: 5px 5px 5px rgb(40,40,40)

    .service-card
      background-color: white
      border: 1px solid #9a9a9a
      padding: 20px 10%

.plans
  padding: 40px 25px

  &>p
    font-size: 1.3em
    margin-bottom: 20px
  h2
    margin-bottom: 20px
    font-size: 2em

  plan-card