html {
  font-size: 16px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button:focus {
  outline: 0; }

.container-fluid {
  padding: 0px; }

.background-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

footer {
  color: white;
  background-color: #413939;
  padding: 20px; }
  footer > p {
    padding: 10px;
    font-size: 0.9em;
    clear: both; }
  footer ul.nav-links {
    float: left; }
    footer ul.nav-links li {
      border-right: solid 1px white;
      float: left; }
      footer ul.nav-links li:last-of-type {
        border: none; }
      footer ul.nav-links li a {
        color: white;
        display: block;
        padding: 5px 10px; }
  footer ul.social-links {
    float: right;
    margin-right: calc(5% + 65px); }
    footer ul.social-links li {
      display: inline-block; }
      footer ul.social-links li a {
        color: white;
        padding: 5px;
        font-size: 1.5em; }

header {
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 700;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 100; }
  header .logo {
    font-size: 2em;
    float: left;
    font-weight: 700;
    display: block; }
    header .logo p {
      color: white;
      background-color: black;
      padding: 0px 10px;
      display: inline-block; }
    header .logo span {
      color: black;
      background-color: white;
      display: inline-block; }
  header .burger-btn {
    display: none; }
  header nav .main-nav li {
    display: inline-block;
    padding: 10px; }
    header nav .main-nav li a {
      display: block;
      color: black; }
  header .menu-right div {
    display: inline-block;
    margin-left: 10px; }
  header .menu-right .testers-signup-btn {
    background-color: #18b654;
    padding: 10px 12px; }
    header .menu-right .testers-signup-btn a {
      color: white;
      display: block; }
  header .menu-right .register-btn {
    padding: 10px 12px;
    border: 1px solid black; }
    header .menu-right .register-btn a {
      color: black;
      display: block; }
  header .menu-right .testers-register {
    padding: 10px 12px;
    background-color: #e57735; }
    header .menu-right .testers-register a {
      color: white;
      display: block; }
  @media screen and (max-width: 992px) {
    header {
      display: block;
      position: relative; }
      header nav {
        display: none;
        text-align: center; }
        header nav .main-nav li {
          display: block; }
        header nav.visible {
          display: block; }
      header .menu-right {
        display: none; }
      header .logo {
        float: none;
        display: inline-block; }
      header .navbar-toggle {
        display: block;
        float: right; }
        header .navbar-toggle .icon-bar {
          background-color: black; } }

.col-centered {
  float: none;
  margin: 0 auto; }

section {
  text-align: center; }

.landing-main {
  height: 100vh;
  background: url(https://unsplash.it/1200/700) no-repeat;
  background-size: cover;
  color: white;
  position: relative; }
  .landing-main .intro-blurb {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); }
    .landing-main .intro-blurb p {
      font-size: 1.6em; }
    .landing-main .intro-blurb h1 {
      font-weight: bold; }
    .landing-main .intro-blurb a {
      display: flex;
      align-self: center; }
      .landing-main .intro-blurb a .circled-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border: 1px solid white;
        border-radius: 50%;
        float: left;
        color: white;
        margin-right: 5px; }
      .landing-main .intro-blurb a .main-video-link {
        line-height: 35px;
        color: white;
        font-size: 1.3em;
        white-space: nowrap;
        display: inline-block; }
  .landing-main .start-chat {
    background-color: #ef5251;
    color: white;
    position: fixed;
    bottom: 4%;
    right: 4%;
    border: none;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    font-size: 2em;
    z-index: 100; }

.abstract {
  padding: 40px 0px; }
  .abstract h2 {
    margin-bottom: 25px; }
  .abstract > p {
    font-size: 1.3em;
    margin-bottom: 40px; }
  .abstract h3 {
    margin-bottom: 15px;
    font-size: 2em; }
  .abstract img {
    height: 120px;
    margin-bottom: 25px;
    margin-top: 25px; }
  .abstract .service-card h4 {
    margin: 0px auto 10px auto;
    font-weight: 700;
    font-size: 1.3em; }
  .abstract .service-card p {
    max-width: 250px;
    margin: auto; }

.services {
  padding: 40px 25px;
  margin: auto;
  max-width: 1050px; }
  .services span[class^="icon-"] {
    font-size: 240px;
    color: black; }
  .services .service-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 125px;
    margin-top: 50px; }
    .services .service-card:nth-child(odd) {
      flex-direction: row-reverse; }
    .services .service-card img {
      height: 240px; }
    .services .service-card .service-abstract {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .services .service-card .service-abstract p {
        max-width: 360px;
        padding: 10px;
        margin: auto; }
  .services .btn-example, .services .btn-create-test {
    border: none;
    outline: none;
    border-radius: 15px;
    width: 140px;
    padding: 10px;
    margin: 10px 15px;
    font-size: 12px; }
  .services .btn-example {
    background-color: white;
    border: 1px solid black; }
  .services .btn-create-test {
    background-color: #5e5ed8;
    color: white; }

.plans {
  padding: 40px 25px; }
  .plans > p {
    font-size: 1.3em;
    margin-bottom: 20px; }
  .plans h2 {
    margin-bottom: 20px;
    font-size: 2em; }
  .plans .plan-card {
    padding: 15px;
    border: solid 1px black; }
    .plans .plan-card .choose-plan-btn {
      border: none;
      outline: none;
      border-radius: 15px;
      width: 140px;
      padding: 10px;
      margin: 10px 15px;
      font-size: 12px;
      background-color: green; }

.chat-box {
  position: fixed;
  right: 4%;
  bottom: calc(7% + 40px);
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.6);
  display: none; }
  .chat-box.visible {
    display: block; }
  .chat-box .chat-header {
    padding: 15px;
    background-color: #ef5251; }
    .chat-box .chat-header h4 {
      color: white;
      text-align: center; }
  .chat-box .chat-body {
    height: 400px;
    overflow: auto; }
    .chat-box .chat-body p {
      margin-bottom: 5px; }
    .chat-box .chat-body .message-card {
      padding: 5px 8px;
      font-size: 0.9em;
      border-bottom: 1px solid gray; }
      .chat-box .chat-body .message-card .message-thumb {
        width: 16%;
        float: left;
        line-height: 25px;
        text-align: center; }
        .chat-box .chat-body .message-card .message-thumb img {
          border-radius: 50%;
          height: 20px;
          width: 20px; }
      .chat-box .chat-body .message-card .message-body {
        color: gray;
        width: 84%;
        float: left; }
        .chat-box .chat-body .message-card .message-body .message-time {
          float: right; }
        .chat-box .chat-body .message-card .message-body .message-text {
          color: black; }

/*# sourceMappingURL=style.css.map */
