html {
  font-size: 16px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button:focus {
  outline: 0; }

.container-fluid {
  padding: 0px; }

.background-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

footer {
  color: white;
  background-color: #413939;
  padding: 20px; }
  footer > p {
    padding: 10px;
    font-size: 0.9em;
    clear: both; }
  footer ul.nav-links {
    float: left; }
    footer ul.nav-links li {
      border-right: solid 1px white;
      float: left; }
      footer ul.nav-links li:last-of-type {
        border: none; }
      footer ul.nav-links li a {
        color: white;
        display: block;
        padding: 5px 10px; }
  footer ul.social-links {
    float: right;
    margin-right: calc(5% + 65px); }
    footer ul.social-links li {
      display: inline-block; }
      footer ul.social-links li a {
        color: white;
        padding: 5px;
        font-size: 1.5em; }

header {
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 700;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 100; }
  header .logo {
    font-size: 2em;
    float: left;
    font-weight: 700;
    display: block; }
    header .logo p {
      color: white;
      background-color: black;
      padding: 0px 10px;
      display: inline-block; }
    header .logo span {
      color: black;
      background-color: white;
      display: inline-block; }
  header .burger-btn {
    display: none; }
  header nav .main-nav li {
    display: inline-block;
    padding: 10px; }
    header nav .main-nav li a {
      display: block;
      color: black; }
  header .menu-right div {
    display: inline-block;
    margin-left: 10px; }
  header .menu-right .testers-signup-btn {
    background-color: #18b654;
    padding: 10px 12px; }
    header .menu-right .testers-signup-btn a {
      color: white;
      display: block; }
  header .menu-right .register-btn {
    padding: 10px 12px;
    border: 1px solid black; }
    header .menu-right .register-btn a {
      color: black;
      display: block; }
  header .menu-right .testers-register {
    padding: 10px 12px;
    background-color: #e57735; }
    header .menu-right .testers-register a {
      color: white;
      display: block; }
  @media screen and (max-width: 992px) {
    header {
      display: block;
      position: relative; }
      header nav {
        display: none;
        text-align: center; }
        header nav .main-nav li {
          display: block; }
        header nav.visible {
          display: block; }
      header .menu-right {
        display: none; }
      header .logo {
        float: none;
        display: inline-block; }
      header .navbar-toggle {
        display: block;
        float: right; }
        header .navbar-toggle .icon-bar {
          background-color: black; } }

.col-centered {
  float: none;
  margin: 0 auto; }

section {
  text-align: center; }

.landing-main {
  height: 100vh;
  background: url(https://unsplash.it/1200/700) no-repeat;
  background-size: cover;
  color: white;
  position: relative; }
  .landing-main .intro-blurb {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); }
    .landing-main .intro-blurb p {
      font-size: 1.6em;
      padding: 10px 20px;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto; }
    .landing-main .intro-blurb h1 {
      font-weight: bold;
      margin-bottom: 0px; }
    .landing-main .intro-blurb a {
      display: flex;
      align-self: center; }
      .landing-main .intro-blurb a .circled-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border: 1px solid white;
        border-radius: 50%;
        float: left;
        color: white;
        margin-right: 5px; }
      .landing-main .intro-blurb a .main-video-link {
        line-height: 35px;
        color: white;
        font-size: 1.3em;
        white-space: nowrap;
        display: inline-block; }
    .landing-main .intro-blurb .title-slider-container {
      height: 76px;
      overflow: hidden;
      margin-bottom: 50px; }
      .landing-main .intro-blurb .title-slider-container .title-slider {
        margin-top: 0px;
        animation: moving-title 10s infinite; }
        .landing-main .intro-blurb .title-slider-container .title-slider h2 {
          margin: 20px;
          font-size: 36px;
          font-weight: bold; }
  .landing-main .start-chat {
    background-color: #ef5251;
    color: white;
    position: fixed;
    bottom: 4%;
    right: 4%;
    border: none;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    font-size: 2em;
    z-index: 100; }

.test-types .col-sm-6 {
  height: 309px; }

.test-types img {
  box-shadow: 5px 10px 22px #101010; }

.test-types .gray-tile {
  position: relative;
  background-color: #f4f4f4;
  padding: 10px 20px; }
  .test-types .gray-tile .test-type-blurb {
    color: black; }
  .test-types .gray-tile:nth-of-type(1) .test-type-blurb {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px); }

.test-types .blue-tile {
  position: relative;
  background-color: #000c22;
  padding: 50px 20px; }
  .test-types .blue-tile .test-type-blurb {
    color: white; }
  .test-types .blue-tile:nth-of-type(2) .test-type-blurb {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0px); }

.test-types .last-tile {
  position: relative;
  background-color: #2c2d3e;
  padding: 30px 20px 20px; }
  .test-types .last-tile .test-type-blurb {
    color: white; }

.test-types .test-type-blurb {
  max-width: 350px;
  margin: auto;
  line-height: 180%;
  font-size: 18px;
  font-weight: 300; }
  .test-types .test-type-blurb p {
    text-align: left;
    margin-bottom: 20px; }
  .test-types .test-type-blurb a {
    border-radius: 40px;
    padding: 5px 25px;
    border: solid 1px gray;
    color: inherit;
    font-size: 14px; }

.test-types svg {
  display: block;
  width: 100%;
  height: 90px;
  background: #f4f4f4; }

.test-types img.translate-down {
  transform: translate(0px, 100px); }

.test-types img.translate-up {
  transform: translate(0px, -100px); }

.abstract {
  padding: 40px 0px; }
  .abstract h2 {
    margin-bottom: 25px; }
  .abstract > p {
    font-size: 1.3em;
    margin-bottom: 40px; }
  .abstract h3 {
    margin-bottom: 15px;
    font-size: 2em; }
  .abstract img {
    height: 120px;
    margin-bottom: 25px;
    margin-top: 25px; }
  .abstract .service-card h4 {
    margin: 0px auto 10px auto;
    font-weight: 700;
    font-size: 1.3em; }
  .abstract .service-card p {
    max-width: 250px;
    margin: auto; }

@keyframes moving-title {
  0% {
    margin-top: 0px; }
  23% {
    margin-top: 0px; }
  25% {
    margin-top: -59px; }
  48% {
    margin-top: -59px; }
  50% {
    margin-top: -118px; }
  73% {
    margin-top: -118px; }
  75% {
    margin-top: -177px; }
  98% {
    margin-top: -177px; }
  100% {
    margin-top: -236px; } }

.chat-box {
  position: fixed;
  right: 4%;
  bottom: calc(7% + 40px);
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.6);
  display: none; }
  .chat-box.visible {
    display: block; }
  .chat-box .chat-header {
    padding: 15px;
    background-color: #ef5251; }
    .chat-box .chat-header h4 {
      color: white;
      text-align: center; }
  .chat-box .chat-body {
    height: 400px;
    overflow: auto; }
    .chat-box .chat-body p {
      margin-bottom: 5px; }
    .chat-box .chat-body .message-card {
      padding: 5px 8px;
      font-size: 0.9em;
      border-bottom: 1px solid gray; }
      .chat-box .chat-body .message-card .message-thumb {
        width: 16%;
        float: left;
        line-height: 25px;
        text-align: center; }
        .chat-box .chat-body .message-card .message-thumb img {
          border-radius: 50%;
          height: 20px;
          width: 20px; }
      .chat-box .chat-body .message-card .message-body {
        color: gray;
        width: 84%;
        float: left; }
        .chat-box .chat-body .message-card .message-body .message-time {
          float: right; }
        .chat-box .chat-body .message-card .message-body .message-text {
          color: black; }
